header {
display: block;
height: 100px;
position: absolute;
width: 100%;
background: rgb(32,42,44);
top: 0;
left: 0;
text-align: center;
}

header h1
{
    color: white;
    margin: 0 10px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: top
}

header h1 span
{
    width: 36px;
    color: rgb(22,191,255);
    text-align: center;
    margin: 0 2px;
 }

header p
{
    color: white;
    padding: 8px;
    margin:0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
p
{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}